In [2]:
from DBcm import UseDatabase

dbconfig = { 
                'host': 'localhost',
                'user': 'admin',
                'password': 'E=mcsquared3.1412pi',
                'database': 'swimmers_webapp' 
             }

with UseDatabase(dbconfig) as cursor:
    """ insert 5 sample data into swimmers table"""
    _SQL = "insert into swimmers(name, age) values(%s, %s)"    
    cursor.execute(_SQL, ('Michael Phelps', 32))
    cursor.execute(_SQL, ('Ryan Lochte', 33))
    cursor.execute(_SQL, ('Nathan Adrian', 29))
    cursor.execute(_SQL, ('Caeleb Dressel', 21))
    
    _SQL = "select * from swimmers"
    cursor.execute(_SQL)
    data = cursor.fetchall()
    print(data)

[(1, 'Michael Phelps', 32), (2, 'Ryan Lochte', 33), (3, 'Nathan Adrian', 29), (4, 'Caeleb Dressel', 21)]